 * { font-size: 14px }
 h5 {
  font-size: 18px;
}

div.wrap {
    width:1000px;
    margin:0 auto;
}


do{
    color:"#009ACD";
}

.more span {
  color:red;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}